<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- google font script -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet" />

    <!-- style css from scss -->
    <link rel="stylesheet" href="css/features.css" />
    <link rel="stylesheet" href="scss/custom.css" />

    <!-- font-awesome theme -->
    <script src="https://kit.fontawesome.com/a014666b37.js" crossorigin="anonymous"></script>

  </head>
  <header class="py-3 mb-3 border-bottom">
    <div class="container-fluid d-grid gap-3 align-items-center mb-3" style="grid-template-columns: 1fr 2fr;">

      <div class="dropdown">
        <a href="#" class="ik-dropdown d-flex align-items-center col-lg-4 mb-2 mb-lg-0 ps-4 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-bars fa-lg"></i>
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li><a class="dropdown-item active" href="#" aria-current="page">Overview</a></li>
          <li><a class="dropdown-item" href="#">Inventory</a></li>
          <li><a class="dropdown  -item" href="#">Customers</a></li>
          <li><a class="dropdown-item" href="#">Products</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Reports</a></li>
          <li><a class="dropdown-item" href="#">Analytics</a></li>
        </ul>
      </div>

        <div class="flex-shrink-0 dropdown d-flex justify-content-end">
          <a href="#" class="user-dropdown d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">

            <!-- application du telechargeur  d'image  -->
            <img alt="mdo" width="32" height="32" class="rounded-circle" src= <%= image %>

          </a>

          <ul class="dropdown-menu  text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
    </div>
    <div class="i-div d-flex justify-content-center">
      <button class="i-btn btn btn-primary btn-rouded">
        Manage your time well <%=nom%>
      </button>
    </div>

      <!-- add the big button into the header  -->
  </header>

  <!-- add the display of selection oy user  -->
  <main class="container d-flex justify-content-center flex-column align-items-center">
    <!-- categories  -->
    <section class="row i-categorie">
      <!-- <h1 class="pb-4">Categories</h1> -->

      <!-- <div class=""> -->
        <a class="col-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
            <path d="M18 5H2C0.89543 5 0 5.89543 0 7V17C0 18.1046 0.89543 19 2 19H18C19.1046 19 20 18.1046 20 17V7C20 5.89543 19.1046 5 18 5Z" fill="#85AFEE"/>
            <path d="M14 5V1.44444C14 1.32657 13.7893 1.21352 13.4142 1.13017C13.0391 1.04683 12.5304 1 12 1H8C7.46957 1 6.96086 1.04683 6.58579 1.13017C6.21071 1.21352 6 1.32657 6 1.44444V5" stroke="#8DA4C8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
        <a class="col-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18" fill="none">
            <path d="M16.6667 15.75V14.25C16.6667 13.4544 16.3155 12.6913 15.6904 12.1287C15.0653 11.5661 14.2174 11.25 13.3334 11.25H6.66671C5.78265 11.25 4.93481 11.5661 4.30968 12.1287C3.68456 12.6913 3.33337 13.4544 3.33337 14.25V15.75" stroke="#FF9900" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M9.99996 8.25C11.8409 8.25 13.3333 6.90685 13.3333 5.25C13.3333 3.59315 11.8409 2.25 9.99996 2.25C8.15901 2.25 6.66663 3.59315 6.66663 5.25C6.66663 6.90685 8.15901 8.25 9.99996 8.25Z" stroke="#FF9900" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
        <a class="col-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20" fill="none">
            <g clip-path="url(#clip0_44_73)">
              <path d="M7.12504 18.3333C7.56227 18.3333 7.91671 17.9602 7.91671 17.5C7.91671 17.0398 7.56227 16.6667 7.12504 16.6667C6.68782 16.6667 6.33337 17.0398 6.33337 17.5C6.33337 17.9602 6.68782 18.3333 7.12504 18.3333Z" stroke="#52E52E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M15.8333 18.3333C16.2705 18.3333 16.625 17.9602 16.625 17.5C16.625 17.0398 16.2705 16.6667 15.8333 16.6667C15.3961 16.6667 15.0416 17.0398 15.0416 17.5C15.0416 17.9602 15.3961 18.3333 15.8333 18.3333Z" stroke="#52E52E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M0.791626 0.833328H3.95829L6.07996 11.9917C6.15235 12.3753 6.35064 12.72 6.6401 12.9652C6.92956 13.2105 7.29176 13.3408 7.66329 13.3333H15.3583C15.7298 13.3408 16.092 13.2105 16.3815 12.9652C16.6709 12.72 16.8692 12.3753 16.9416 11.9917L18.2083 5H4.74996" stroke="#52E52E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
              <clipPath id="clip0_44_73">
                <rect width="19" height="20" fill="white"/>
              </clipPath>
            </defs>
          </svg>
        </a>
        <a class="col-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M16.6891 3.41452C16.2738 2.96607 15.7806 2.61034 15.2377 2.36763C14.6949 2.12492 14.1131 2 13.5255 2C12.9379 2 12.3561 2.12492 11.8133 2.36763C11.2704 2.61034 10.7772 2.96607 10.3619 3.41452L9.49978 4.34476L8.63771 3.41452C7.79866 2.50912 6.66066 2.00047 5.47407 2.00047C4.28747 2.00047 3.14947 2.50912 2.31042 3.41452C1.47137 4.31992 1 5.5479 1 6.82833C1 8.10875 1.47137 9.33674 2.31042 10.2421L3.1725 11.1724L9.49978 18L15.8271 11.1724L16.6891 10.2421C17.1047 9.79391 17.4344 9.26171 17.6593 8.67596C17.8842 8.0902 18 7.46237 18 6.82833C18 6.19428 17.8842 5.56645 17.6593 4.9807C17.4344 4.39494 17.1047 3.86275 16.6891 3.41452Z" fill="#DC14B0" stroke="#DC14B0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </div>
    </section>
  <!-- </div> -->
      


    <section>

      <!-- title of  -->

      <h1 class="text-center mt-2">You have 10 for today</h2>
      <!-- for inclunding part for add task  -->
      <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
        <div class="list-group">

          <!-- <label class="list-group-item d-flex gap-3">
            <input class="form-check-input flex-shrink-0" type="checkbox" value="" checked="" style="font-size: 1.375em;">
            <span class="pt-1 form-checked-content">
              <strong>Finish sales report</strong>
              <small class="d-block text-body-secondary">
                <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#calendar-event"></use></svg>
                1:00–2:00pm
              </small>
            </span>
          </label>

          <label class="list-group-item d-flex gap-3">
            <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
            <span class="pt-1 form-checked-content">
              <strong>Weekly All Hands</strong>
              <small class="d-block text-body-secondary">
                <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#calendar-event"></use></svg>
                2:00–2:30pm
              </small>
            </span>
          </label>

          <label class="list-group-item d-flex gap-3">
            <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
            <span class="pt-1 form-checked-content">
              <strong>Out of office</strong>
              <small class="d-block text-body-secondary">
                <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#alarm"></use></svg>
                Tomorrow
              </small>
            </span>
          </label> -->

          <!-- Ajouter la tâche ici grâce à ejs  -->
          <!-- *Ajouter une liste deroulante pour nos éléments afin de pouvoir derouler sur plusieurs liste à la fois -->

          <%if(locals.taskUsers){%>
            <%taskUsers.forEach(task =>{%>
              <label class="list-group-item d-flex gap-3">
              <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
              <span class="pt-1 form-checked-content">
                <strong> <%=task%> </strong>
                <small class="d-block text-body-secondary">
                  <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#alarm"></use></svg>
                  <%= heureDate %>pm
                </small>
              </span>
            </label>
          <%});%>
        <%};%>

          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add your task
          </button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Entrer votre tâche</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" action="/user/<%=id>/tasks/add" enctype="multipart/form-data">
                  <div class="modal-body">
                      <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Task:</label>
                        <input name="singleTask" type="text" class="form-control" id="recipient-name">
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Send tasks</button>
                  </div>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <!-- Add task  -->


  </main>

  <!-- part of main for add task , modify task and manage your time  -->

    <script src="js/bootstrapp.bundle.min.js"></script>
  </body>

</html>